<%= form_for(@message, :html => {:role => 'form', :class => 'form-horizontal'}) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t('messages.new.to'), :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :to, :type => 'text', :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t('messages.new.subject'), :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :subject, :type => 'text', :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t('messages.new.content'), :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :content, :type => 'text', :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default"><%= t('messages.new.send') %></button>
  </div>
<% end %>
