<% own_message = @message.from == current_user.email %>
<h4>
  <div class="row">
    <div class="col-md-9">
      <span class="msg-header"><%= @message.subject %></span>
    </div>
    <div class="col-md-3">
      <% unless own_message %>
        <%= link_to t('messages.show.btn_destroy'), @message, :class => 'btn btn-danger pull-right', method: :delete, data: { confirm: t('messages.show.alert_delete')} if current_user.email == @message.to %>
        <%= link_to t('messages.show.btn_reply'), new_message_path(:reply_to => @message.from), :class => 'btn btn-default pull-right' %>
      <% end %>
    </div>
  </div>
</h4>
<hr>
<h5><%= "#{t('messages.show.from')} #{@from.fname} #{@from.lname} <#{@message.from}> at #{@message.created_at}" %></h5>
<h5><%= "#{t('messages.show.to')} #{@to.fname} #{@to.lname} <#{@message.to}>" %></h5>
<hr>
<p class="msg-text"><%= simple_format(@message.content) %></p>