<% if @user.errors.any? %>
    <div class= "alert-danger" id="error_explanation">
      <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%# TODO: bug. bad html code %>
<%= form_for @user, :url => password_reset_path, :class => 'form-signin' do |f| %>
    <%# TODO: bug. title everywhere is h4. here h2. %>
    <h2 class="form-signin-heading"><%= t('password_reset.edit.title') %></h2>
    <%# TODO: bug. field type must be password %>
    <%= f.text_field :password, :class => 'form-control', :required => true, :autofocus => true, :placeholder => t('password_reset.edit.pwd_new') %>
    <%= f.text_field :password_confirmation, :class => 'form-control',:required => true, :type => 'password', :placeholder => t('password_reset.edit.pwd_confirm') %>
    <%= hidden_field_tag :token, @token %>
    <button type="submit" class="btn btn-lg btn-primary btn-block"><%= t('password_reset.edit.btn_change') %></button>
<% end %>